[user]
    email = yevgeniy.melnichuk@googlemail.com
    name = Yevgeniy Melnichuk

[core]
    excludesfile = ~/.gitignore
    editor = vim

[push]
    default = simple

[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f

[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
