.svn

# eclipse
.project
.classpath
bin/

# breaks eclipse-workspace in my dotfiles... put .settings in the individual gitignore
# .settings

# mac os
.DS_Store

# vim
.*.swp

# gradle
.gradle
build/

# mvn
target/
