[user]
	email = henning.treu@googlemail.com
	name = Henning Treu

[core]
    excludesfile = ~/.gitignore
    editor = vim

[push]
    default = simple
[filter "media"]
    required = true
	clean = git media clean %f
	smudge = git media smudge %f

[diff]
    tool = vimdiff
