[user]
	email = yevgeniy.melnichuk@googlemail.com
	name = Yevgeniy Melnichuk

[core]
	excludesfile = ~/.gitignore

[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
